<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kundeoverblik</title>
</head>
<body>
<h1>Lejeaftaler til betaling</h1>
<table>
    <tr th:each="aftale : ${lejeaftalerBetaling}">
        <td th:text="${aftale.vognnummer}"></td>
        <td th:text="${aftale.aftaleType}"></td>
        <td th:text="${aftale.startDato}"></td>
        <td th:text="${aftale.slutDato}"></td>
        <td><a th:href="@{'/meldaftaleafsluttet/'+${aftale.vognnummer}+'/'+${aftale.kundeID}}">Autoriser betaling af rapport</a></td>
        <td><a th:href="@{'/skadesrapport/'+${aftale.kontraktID}}">Se skadesrapport</a></td>
    </tr>
</table>
<h1>Lejeaftaler, der afventer skadesrapport</h1>
<table>
    <tr th:each="aftale : ${lejeaftalerVenter}">
        <td th:text="${aftale.vognnummer}"></td>
        <td th:text="${aftale.aftaleType}"></td>
        <td th:text="${aftale.startDato}"></td>
        <td th:text="${aftale.slutDato}"></td>
    </tr>
</table>
<h1>Igangværende lejeaftaler</h1>
<table>
    <tr th:each="aftale : ${lejeaftalerIgangvaerende}">
        <td th:text="${aftale.vognnummer}"></td>
        <td th:text="${aftale.aftaleType}"></td>
        <td th:text="${aftale.startDato}"></td>
        <td th:text="${aftale.slutDato}"></td>
        <td><a th:href="@{'/meldafleveret/'+${aftale.vognnummer}+'/'+${aftale.kundeID}}">Meld bil afleveret</a></td>
        <td><a th:href="@{'/updateaftale/'+${aftale.kontraktID}}">Updater aftale</a></td>
        <td><a th:href="@{'/sletaftale/'+${aftale.kontraktID}}">Slet aftale</a></td>
    </tr>
</table>
<h1>Afsluttede lejeaftaler</h1>
<table>
    <tr th:each="aftale : ${lejeaftalerAfsluttet}">
        <td th:text="${aftale.vognnummer}"></td>
        <td th:text="${aftale.aftaleType}"></td>
        <td th:text="${aftale.startDato}"></td>
        <td th:text="${aftale.slutDato}"></td>
        <td><a th:href="@{'/updateaftale/'+${aftale.kontraktID}}">Updater aftale</a></td>
    </tr>
</table>
<a th:href="${'/'}"></a>
</body>
</html>