<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skadesrapport</title>
</head>
<body>

<form action="/opretskadesrapport" method="post">

    <input type="hidden" name="kontraktID" th:value="${skadesrapport.kontraktID}">
    <input type="hidden" name="vognnummer" th:value="${vognnummer}">

    <label for="kilometer-felt">Overkørte Kilometer:</label>
    <input id="kilometer-felt" name="overkoerteKilometer">
    <span>1,5 kr. pr. km.</span> <br> <br>

    <label for="service-felt">Manglende service:</label>
    <input type="checkbox" id="service-felt" name="manglendeService">
    <span>2.500kr</span> <br><br>

    <label for="rengoering-felt">Manglende rengøring:</label>
    <input type="checkbox" id="rengoering-felt" name="manglendeRengoering">
    <span>999kr</span> <br><br>

    <label for="daekskifte-felt">Manglende dækskifte:</label>
    <input type="checkbox" id="daekskifte-felt" name="manglendeDaekskifte">
    <span>999kr</span> <br><br>


    <label for="lakfelt">Lakfelt skader:</label>
    <input id="lakfelt" name="lakfeltSkade">
    <span>1.500kr pr. skade</span> <br><br>

    <label for="alu-felt">Alufælg skader:</label>
    <input id="alu-felt" name="alufaelgSkade">
    <span>400kr pr. skade</span> <br><br>

    <label for="stenslag-felt">Antal stenslag:</label>
    <input id="stenslag-felt" name="stenslagSkade">
    <span>650 kr. for første, 300kr. efterfølgende</span> <br><br>

    <button type="submit">Registrer</button>
</form>
<a th:href="@{'/bilertilskadesrapport'}">Afbryd</a>
</body>
</html>