<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/opretaftale" method="post">
    <span th:text="${kunde.fornavn}"></span><span th:text="${kunde.efternavn}"></span>
    <span th:text="${bil.fabrikant}"></span><span th:text="${bil.model}"></span>

    <input type="hidden" name="kundeID" th:value="${kunde.kundeID}">
    <input type="hidden" name="vognnummer" th:value="${bil.vognnummer}">

    <label for="Unlimited">Unlimited:</label>
    <input type="radio" id="Unlimited" name="aftaletype" value="Unlimited">
    <label for="Limited">Limited:</label>
    <input type="radio" id="Limited" name="aftaletype" value="Limited">

    <label for="kilometerpakke-felt">Kilometerpakke</label>
    <input id="kilometerpakke-felt" name="kilometerpakke">

    <label for="startdato-felt">Startdato:</label>
    <input type="date" id="startdato-felt" name="startdato" th:value="${datoNu}">

    <label for="slutdato-felt">slutdato:</label>
    <input type="date" id="slutdato-felt" name="slutdato" th:value="${datoFemMåneder}">

    <button type="submit">Opret</button>

</form>

</body>
</html>