<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/opretaftale" method="post">
    <div>Opret Limited plan</div>
    <span th:text="${kunde.fornavn}"></span><span th:text="${kunde.efternavn}"></span>
    <span th:text="${bil.fabrikant}"></span><span th:text="${bil.model}"></span>

    <input type="hidden" name="kundeID" th:value="${kunde.kundeID}">
    <input type="hidden" name="vognnummer" th:value="${bil.vognnummer}">

    <input type="hidden" name="aftaletype" value="Limited">
    <input type="hidden" name="startdato" th:value="${datoNu}">

    <label for="slutdato-felt">slutdato:</label>
    <input type="hidden" name="slutdato" th:value="${datoFemMaaneder}">

    <button type="submit">Opret</button>

</form>


<form action="/opretaftale" method="post">
    <div>Opret Unlimited plan:</div>
    <span th:text="${kunde.fornavn}"></span><span th:text="${kunde.efternavn}"></span>
    <span th:text="${bil.fabrikant}"></span><span th:text="${bil.model}"></span>

    <input type="hidden" name="kundeID" th:value="${kunde.kundeID}">
    <input type="hidden" name="vognnummer" th:value="${bil.vognnummer}">

    <input type="hidden" name="aftaleType" value="Unlimited">
    <input type="hidden" name="startDato" th:value="${datoNu}">

    <label for="slutdato-felt">Slutdato for abonnement:</label>
    <input type="date" id="slutdato-felt" name="slutDato" th:min="${datoFireMaaneder}" required>

    <button type="submit">Opret</button>

</form>

</body>
</html>