<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret kunde</title>
</head>
<body>
<h1>Opret ny kunde</h1>
<form action="/opretkunde" method="post">
    <label for="fornavn-felt">Fornavn:</label>
    <input id="fornavn-felt" name="fornavn">

    <label for="efternavn-felt">Efternavn:</label>
    <input id="efternavn-felt" name="efternavn">

    <label for="kontakt-felt">Kontaktnummer:</label>
    <input id="kontakt-felt" name="kontaktnummer">

    <label for="email-felt">Email:</label>
    <input id="email-felt" name="email">

    <button type="submit">Opret kunde</button>
</form>
<a th:href="@{'/'}">Afbryd</a>
</body>
</html>