<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Udlejede biler</title>
</head>
<body>
<h1>Udlejede Biler</h1>
<table>
    <tr th:each="bil : ${bilListe}">
        <td th:text="${bil.fabrikant}"></td>
        <td th:text="${bil.model}"></td>
        <td th:text="${bil.vognnummer}"></td>
        <td th:text="${bil.lejepris}"></td>
    </tr>
</table>
<div th:text="${antalBiler}">Antal:</div> <span th:text="${samletIndtaegt}">Samlet Indtægt</span>
<a th:href="@{'/'}">Retur</a>
</body>
</html>