<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vis Skaderapport</title>
</head>
<body>
<h1>Kontraktnummer: <span th:text="${skadesrapport.getKontraktID()}"></span></h1>

<span>Overkørte kilometer</span>
<span th:text="${skadesrapport.getOverkoerteKilometer()}">Kilometer</span>
<span th:text="${skadesafgifter.getAfgiftOverkoerteKilometer()}">kr.</span> <br> <br>

<span>Manglende service:</span>
<span th:text="${skadesafgifter.getAfgiftManglendeService()}">kr</span> <br> <br>

<span>Manglende rengøring</span>
<span th:text="${skadesafgifter.getAfgiftManglendeRengoering()}">kr.</span> <br> <br>

<span>Manglende dækskifte</span>
<span th:text="${skadesafgifter.getAfgiftManglendeDaekskifte()}">kr.</span> <br> <br>

<span>Lakfelt:</span>
<span th:text="${skadesrapport.getLakfeltSkade()}">tilfælde</span>
<span th:text="${skadesafgifter.getAfgiftLakfeltSkade()}">kr.</span> <br> <br>

<span>Alufælg</span>
<span th:text="${skadesrapport.getAlufaelgSkade()}">tilfælde</span>
<span th:text="${skadesafgifter.getAfgiftAlufaelgSkade()}">kr.</span> <br> <br>

<span>Stenslag:</span>
<span th:text="${skadesrapport.getStenslagSkade()}">tilfælde</span>
<span th:text="${skadesafgifter.getAfgiftStenslagSkade()}">kr.</span> <br> <br>

</body>
</html>